src/Folha360.Eventos.Infrastructure/Xsd/S-2231.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="eSocial">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtAfastTemp">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tpAmb" type="xs:string" />
                            <xs:element name="procEmi" type="xs:string" />
                            <xs:element name="verProc" type="xs:string" />
                            <xs:element name="empregador">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tpInsc" type="xs:string" />
                                        <xs:element name="nrInsc" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="trabalhador">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cpfTrab" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="infoAfastamento">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dtInicio" type="xs:string" />
                                        <xs:element name="dtFimPrev" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
